@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    display: flex;
    font-family: 'Raleway';
    width: 100%;
}


/* header  */

aside {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 2rem;
    width: 250px;
    height: 100%;
    border-right: 1px solid #B4B4B4;
}

h1 {
    font-family: 'Langar';
    font-size: 24px;
}

.aside-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.aside-ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.aside-a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.aside-a-home {
    text-decoration: underline;
    font-weight: 700;
    color: black;
    font-size: 18px;
}

.aside-img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

aside-ul:nth-child(1) {
    text-decoration: underline;
    font-weight: 700;
}


/* main content  */

.main-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 35%; */
}

main {
    /* height: 1; */
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2em;
}

section {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    /* margin-top: 35px; */
}

.h2-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 2em;
}

.post-link {
    color: black;
    text-decoration: none;
}

.post {
    max-width: 350px;
    max-height: 350px;
    aspect-ratio: 1 / 1;
    background-image: url(karl-hedin-MlOfRf86J2s-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 300ms;
}

/* .post-link:hover {
    transform: translateY(50px);
    color: pink;
} */

.post:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgb(97, 97, 97);
}

.post-top {
    background: rgba(255, 255, 255, 0.705);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}

.post-bottom {
    padding: .5em 1em;
    background: #313131;
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 1.5rem;
}

h2 {
    font-size: 18px;
    margin-left: 5px;
}

hr{
    border: 1px solid rgb(0, 0, 0);
}

h3 {
    font-size: 18px;
}

.img-name {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.post-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.post-like  {
    height: 20px;
    width: 20px;
}

.post-like path:hover {
    fill: black;
}


/* footer  */

footer {
    width: 100%;
}

.desk-foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    border-top: 1px solid #B4B4B4;
    width: 100%;
}

.desk-foot a {
    color: inherit;
    text-decoration: none;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 16px;
}

footer span {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mobile-foot {
    /* display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    align-items: center;
    padding: .5em; */

    position: fixed;
    bottom: 0;
    width: 100%;
}

.mobile-foot nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    align-items: center;
    padding: .8em 5em;
}


/* media queries  */

@media screen and (min-width: 992px){
    nav {
        display: none;
    }

    .mobile-foot {
        display: none;
    }
}

@media screen and (max-width: 1600px) {
    .post {
        max-width: 300px;
        max-height: 300px;
    }
}

@media (max-width: 1300px) {
    main {
        width: 70%;
    }
}
/* @media screen and (max-width: 1445px) {
    main {
        justify-content: start;
        max-height: 100vh;
        gap: 50px;
    }

    section {
        width: 100%;
        margin: 0px;
    }

    .post {
        width: 200px;
        height: 200px;
    }

    .post-bottom {
        font-size: .8rem;
        line-height: 1rem;
        margin-bottom: 10px;
        width: 100%;
    }


    .main-wrapper {
        justify-content: space-between;
    }

    .desk-foot {
        max-width: 100%;
    }

}

@media screen and (max-height: 700px), (max-width: 1200px) {
    .post {
        max-height: 200px;
        max-width: 200px;
    }
    
    section {
        width: 70%;
    }
}

@media screen and (max-width: 1100px){
    section {
        width: 100%;
    }

    .post {
        width: 240px;
        height: 240px;
    }
    
    nav {
        visibility: hidden;
    }
} */

@media screen and (max-width: 993px) {
    aside {
        visibility: hidden;
    }

    .h2-wrapper {
        margin: 0;
    }

    body {
        flex-direction: column;
    }

    header {
        height: 3em;
    }

    main {
        margin-bottom: 100px;
    }

    nav {
        width: 100%;
        padding: .5em 1em;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0px;
        border-bottom: 1px solid #000000;
        visibility: visible;
    }

    .h2-wrapper {
        visibility: hidden;
    }

    section {
        width:100%;
        margin-top: -5px; 
        margin: 0;
    }

    .post {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .desk-foot {
        visibility: hidden;
    }

    .mobile-foot nav {
        visibility: visible;
        padding: .9em;
    }
}


@media screen and (max-width: 601px){
    section {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    
    main {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 450px) {
    main {
        margin: 0;
        width: 100%;
        gap: 72px;
        margin-top: 40px;
    }

    body {
        min-width: 425px;
        /* height: auto; */
    }

    .main-wrapper {
        width: 100%;
    }

    /* body {
        max-width: 500px;
    } */

    nav {
        z-index: 999;
    }

    section {
        gap: 72px;
        align-items: center;
        width: 100%;
    }

    .post-link {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .post {
        max-width: 450px;
        max-height: 450px;
        border-radius: 0;
    }

    .post-top {
        position: relative;
        top: -72px;
        background: white;
    }

    .desk-foot {
        padding: 0;
    }
}